.ChatRoom {
    display: flex;
    flex-direction: column;
    height: 98vh;
}

.messageSheet {
    flex-grow: 1;
    padding: 10px 15px 10px 15px;
    background-color:#0c1317;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 600px) {
    .ChatRoom {
        height: 90vh;
    }
}